$color_white: #FFFFFF;
$color_peach: #C8987E;
$color_blue: #F2F6F8;
$color_orange: #965541;
$color_pink: #EDCECC;
$color_offwhite: #FAF4EE;
$color_green: #6E846D;
$color_black: #010A0C;
.peach {
	background-color:$color_peach;
	color:$color_white;
}
.blue {
	background-color:$color_blue;
}
.offwhite {
	background-color:$color_offwhite;
}
.green {
	background-color:$color_green;
}