@import 'mixins';

@include font-face("Ogg Medium", '/fonts/Ogg-Medium', null, null, woff);
@include font-face("Ogg Light", '/fonts/Ogg-Light', null, null, woff);
@include font-face("Knockout", '/fonts/Knockout-HTF34-JuniorSumo', null, null, woff);

$heading-font: 'Ogg Medium', serif;
$font-body: 'Ogg Light', serif;

$break-medium: "1010px";
$break-small: "768px";

* {
	box-sizing:border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html, body {
	min-height: 100%;
	min-width: 100%;
}
body {
	background:$color_white;
	font-family: $font-body;
	font-weight: medium;
	margin:0;
	padding:0;
	font-size:1.2em;
	overflow-x:hidden;
	scroll-behaviour:smooth;
}
h1, h2, h3 {
	font-family: $heading-font;
	font-weight:normal;
}
.section {
	width:100%;
	margin:auto;
	padding:200px 0px;

	&.pb_0 {
		padding-top:100px;
		padding-bottom:25px;
	}
	&.pt {
		margin-top:-135px;
		padding-top: 250px;
	}
	&.pb {
		padding-bottom:500px;
	}
	&.rsvp {
		margin-top:-250px;
	}
}
.mt-1 {
	margin-top:100px;
}
.wrapper {
	width:calc(100% - 160px);
	max-width:1400px;
	margin:auto;

	img {
		width:100%;
	}
}
p {
	&.major {
		font-size:1.3em;
		line-height: 1.5em;
	}
}