@import 'mixins';

@include font-face("Ogg Medium", '/fonts/Ogg-Medium', null, null, woff);
@include font-face("Ogg Light", '/fonts/Ogg-Light', null, null, woff);
@include font-face("Ogg Regular", '/fonts/Ogg-Regular', null, null, woff);
@include font-face("Knockout", '/fonts/Knockout-HTF34-JuniorSumo', null, null, woff);

$heading-font: 'Ogg Medium', serif;
$font-body: 'Ogg Regular', serif;

.wow {
	visibility:hidden;
}
* {
	box-sizing:border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html, body {
	min-height: 100%;
	min-width: 100%;
	overflow-x:hidden;
}
body {
	background:$color_white;
	font-family: $font-body;
	font-weight: medium;
	margin:0;
	padding:0;
	font-size:1.2em;
	scroll-behaviour:smooth;

	@media screen and (max-width: $break-small) {
		font-size:1em;
	}
}
h1 {
	font-family: $heading-font;
	font-weight:normal;
	&.alt {
		font-family: $font-body;
	}
}
.loading {
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index: 120;
	background:$color_offwhite;

	.logo {
		width:75px;
		position:absolute;
		top:50%;
		left:50%;
		-webkit-transform:translate(-50%,-50%);
	}

	.invited {
		position: absolute;
		top:50%;
		left:50%;
		height:300px;
		width:300px;
		margin-top:-150px;
		margin-left:-150px;
		animation-name: rotatescroll;
		animation-duration: 20s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;

		@keyframes rotatescroll {
			0% {
				transform: rotate(0deg); 
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
}
.modal {
	position: fixed;
	height: 100%;
	width:100%;
	top:0;
	left:0;
	z-index: 100;
	background:$color_offwhite;
	display: none;

	.popup {
		position: relative;
		top:50%;
		left:50%;
		max-width: 500px;
		background: $color_white;
		color:$color_black;
		padding:50px;
		transform:translate(-50%,-50%);
		-o-transform:translate(-50%,-50%);
		-ms-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
		-webkit-transform:translate(-50%,-50%);

		@media screen and (max-width: $break-medium) {
			max-width:90%;
			padding:25px;
		}

		.close {
			height:30px;
			width:30px;
			position: absolute;
			top:0;
			right:0;
			cursor:pointer;

			&:before {
				content:"";
				width:100%;
				height:1px;
				background:$color_black;
				position: absolute;
				top:25px;
				left:-10px;
				transform:rotate(45deg);
				-o-transform:rotate(45deg);
				-ms-transform:rotate(45deg);
				-moz-transform:rotate(45deg);
				-webkit-transform:rotate(45deg);
			}
			&:after {
				content:"";
				width:100%;
				height:1px;
				background:$color_black;
				position: absolute;
				top:25px;
				left:-10px;
				transform:rotate(-45deg);
				-o-transform:rotate(-45deg);
				-ms-transform:rotate(-45deg);
				-moz-transform:rotate(-45deg);
				-webkit-transform:rotate(-45deg);
			}
		}

		.cals {
			list-style-type: none;
			display: grid;
			grid-template-columns:1fr 1fr 1fr;
			padding:0;
			margin:0;
			margin-top:50px;

			li {
				img {
					height:25px;
					margin-right:10px;
					display: inline-block;
				}
				p {
					position: relative;
					top:-6px;
					display: inline-block;
				}
			}

			@media screen and (max-width: $break-medium) {
				grid-template-columns:1fr;
				margin-top:0;
				li {
					margin-top:25px;
				}
			}
		}
	}
}
.center {
	text-align: center;
}
.section {
	width:100%;
	margin:auto;
	padding:200px 0px;
	
	@media screen and (max-width: $break-small) {
		padding:150px 0px;
	}

	&.photo {
		padding:50px 0px;
		@media screen and (max-width: $break-small) {
			padding:0px;
		}
	}

	&.pb_0 {
		padding-top:100px;
		padding-bottom:25px;
	}
	&.pt {
		margin-top:-135px;
		padding-top: 250px;
	}
	&.pb {
		padding-bottom:500px;
	}
	&.rsvp {
		margin-top:-250px;
		position: relative;
		z-index: 3;

		@media screen and (max-width: $break-medium) {
			padding:50px 0px 0px 0px;
			.wrapper {
				width:90%;
			}
		}
		@media screen and (max-width: $break-small) {
			padding:15px 0px 0px 0px;
		}
	}
}
.mt-1 {
	margin-top:100px;
}
.mt-2 {
	margin-top:150px;

	@media screen and (max-width: $break-small) {
		margin-top:0px;
		padding-bottom:100px;
	}
}
.wrapper {
	width:calc(100% - 250px);
	max-width:1400px;
	margin:auto;

	img {
		width:100%;
	}

	@media screen and (max-width: $break-medium) {
		width:calc(100% - 150px);
	}
	@media screen and (max-width: $break-small) {
		width:85%;

		&.rsvpbox {
			width:100%;
		}
	}
}