.peach {
  background-color: #C8987E;
  color: #FFFFFF; }

.blue {
  background-color: #F2F6F8; }

.offwhite {
  background-color: #FAF4EE; }

.green {
  background-color: #6E846D; }

.orange {
  color: #965541; }

.btn {
  padding: 12px 50px;
  text-decoration: none;
  border: 1px solid;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-family: "Knockout", sans-serif;
  transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out; }
  .btn.outline.dark {
    border-color: #965541;
    color: #965541; }
  .btn.outline.dark:hover {
    background: #965541;
    color: #965541; }
  .btn.outline.light {
    border-color: #FFFFFF;
    color: #FFFFFF; }
  .btn.outline.light:hover {
    background: #FFFFFF;
    color: #010A0C; }
  .btn#std {
    margin-top: 50px;
    font-size: .6em; }

.scroll-box {
  margin-left: 45px;
  margin-top: 100px;
  position: relative;
  top: 150px; }
  .scroll-box a {
    color: #965541; }
  .scroll-box p {
    display: inline-block;
    position: relative;
    font-family: "Knockout", sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .6em; }
    .scroll-box p:before {
      content: "";
      position: absolute;
      top: -12px;
      left: -45px;
      height: 30px;
      width: 30px;
      border: 2px solid #965541;
      border-radius: 50px; }
    .scroll-box p:after {
      content: url(../img/arrow-down.svg);
      height: 40px;
      width: 40px;
      position: absolute;
      top: -17px;
      left: -36px;
      stroke: #FFFFFF;
      animation-name: scroll_down;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); }

@keyframes scroll_down {
  0% {
    top: -17px; }
  25% {
    top: -25px; }
  50% {
    top: -17px; }
  100% {
    top: -17px; } }
  @media screen and (max-width: 1124px) {
    .scroll-box {
      margin-left: 0;
      position: unset;
      margin: auto;
      margin-left: 45px;
      margin-top: 100px;
      text-align: center; }
      .scroll-box p:after {
        left: -47px; } }
  @media screen and (max-width: 768px) {
    .scroll-box {
      display: none; } }

a.link {
  text-decoration: none;
  color: #965541;
  font-family: "Knockout", sans-serif;
  font-size: .6em;
  letter-spacing: .2em;
  text-transform: uppercase;
  position: relative; }
  a.link:hover:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #965541; }

@font-face {
  font-family: "Ogg Medium";
  src: url("/fonts/Ogg-Medium.woff") format("woff"); }

@font-face {
  font-family: "Ogg Light";
  src: url("/fonts/Ogg-Light.woff") format("woff"); }

@font-face {
  font-family: "Ogg Regular";
  src: url("/fonts/Ogg-Regular.woff") format("woff"); }

@font-face {
  font-family: "Knockout";
  src: url("/fonts/Knockout-HTF34-JuniorSumo.woff") format("woff"); }

.wow {
  visibility: hidden; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden; }

body {
  background: #FFFFFF;
  font-family: "Ogg Regular", serif;
  font-weight: medium;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  scroll-behaviour: smooth; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 1em; } }

h1 {
  font-family: "Ogg Medium", serif;
  font-weight: normal; }
  h1.alt {
    font-family: "Ogg Regular", serif; }

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 120;
  background: #FAF4EE; }
  .loading .logo {
    width: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); }
  .loading .invited {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 300px;
    margin-top: -150px;
    margin-left: -150px;
    animation-name: rotatescroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

@keyframes rotatescroll {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: #FAF4EE;
  display: none; }
  .modal .popup {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 500px;
    background: #FFFFFF;
    color: #965541;
    padding: 50px;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }
    @media screen and (max-width: 1124px) {
      .modal .popup {
        max-width: 90%;
        padding: 25px; } }
    .modal .popup .close {
      height: 30px;
      width: 30px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer; }
      .modal .popup .close:before {
        content: "";
        width: 100%;
        height: 1px;
        background: #010A0C;
        position: absolute;
        top: 25px;
        left: -10px;
        transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }
      .modal .popup .close:after {
        content: "";
        width: 100%;
        height: 1px;
        background: #010A0C;
        position: absolute;
        top: 25px;
        left: -10px;
        transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    .modal .popup .cals {
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0;
      margin: 0;
      margin-top: 50px; }
      .modal .popup .cals li img {
        height: 25px;
        margin-right: 10px;
        display: inline-block; }
      .modal .popup .cals li p {
        position: relative;
        top: -6px;
        display: inline-block; }
      @media screen and (max-width: 1124px) {
        .modal .popup .cals {
          grid-template-columns: 1fr;
          margin-top: 0; }
          .modal .popup .cals li {
            margin-top: 25px; } }

.center {
  text-align: center; }

.section {
  width: 100%;
  margin: auto;
  padding: 200px 0px; }
  @media screen and (max-width: 768px) {
    .section {
      padding: 150px 0px; } }
  .section.photo {
    padding: 50px 0px; }
    @media screen and (max-width: 768px) {
      .section.photo {
        padding: 0px; } }
  .section.pb_0 {
    padding-top: 100px;
    padding-bottom: 25px; }
  .section.pt {
    margin-top: -135px;
    padding-top: 250px; }
  .section.pb {
    padding-bottom: 500px; }
  .section.rsvp {
    margin-top: -250px;
    position: relative;
    z-index: 3; }
    @media screen and (max-width: 1124px) {
      .section.rsvp {
        padding: 50px 0px 0px 0px; }
        .section.rsvp .wrapper {
          width: 90%; } }
    @media screen and (max-width: 768px) {
      .section.rsvp {
        padding: 15px 0px 0px 0px; } }

.mt-1 {
  margin-top: 100px; }

.mt-2 {
  margin-top: 150px; }
  @media screen and (max-width: 768px) {
    .mt-2 {
      margin-top: 0px;
      padding-bottom: 100px; } }

.wrapper {
  width: calc(100% - 250px);
  max-width: 1400px;
  margin: auto; }
  .wrapper img {
    width: 100%; }
  @media screen and (max-width: 1124px) {
    .wrapper {
      width: calc(100% - 150px); } }
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 85%; }
      .wrapper.rsvpbox {
        width: 100%; } }

#confettiCanvas {
  position: fixed !important;
  pointer-events: none; }

.nav {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 25px 0px;
  z-index: 99;
  font-family: "Knockout", sans-serif; }
  .nav .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center; }
  .nav .date {
    font-size: .6em;
    letter-spacing: .2em;
    text-transform: uppercase;
    opacity: .5;
    padding: 0;
    margin: 0; }
  .nav .logo {
    text-align: center; }
  .nav ul.nav_links {
    text-align: right;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .nav ul.nav_links li {
      display: inline-block;
      margin-left: 30px; }
  .nav a {
    display: inline-block;
    color: #965541;
    font-size: .6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2em;
    transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out; }
    .nav a:hover {
      opacity: .5; }
  @media screen and (max-width: 1124px) {
    .nav .wrapper {
      grid-template-columns: 1fr; }
    .nav .date {
      display: none; }
    .nav ul.nav_links {
      display: none; } }

.hero .wrapper {
  position: relative; }

.hero .text {
  color: #965541;
  position: relative;
  z-index: 98; }
  .hero .text h1 {
    font-size: 6em;
    line-height: 1em;
    margin: 0;
    padding: 0; }
  .hero .text p {
    font-size: 1.8em; }

.hero .right {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0; }
  .hero .right img {
    max-width: 90%; }
  .hero .right .invited {
    position: absolute;
    width: 370px;
    bottom: -100px;
    right: -25px;
    animation-name: rotatescroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

@keyframes rotatescroll {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@media screen and (max-width: 1124px) {
  .hero {
    padding-bottom: 0; }
    .hero .text {
      text-align: center; }
      .hero .text h1 {
        font-size: 5em; }
    .hero .right {
      top: unset;
      left: unset;
      width: 100%;
      position: relative;
      bottom: -100px; }
      .hero .right img {
        max-width: 100%; } }

@media screen and (max-width: 768px) {
  .hero .text h1 {
    font-size: 2.4em; }
  .hero .text p {
    font-size: 1.2em; }
  .hero .right {
    bottom: -50px; }
    .hero .right .invited {
      right: -40px;
      bottom: -50px;
      width: 200px; } }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }
  .grid .left, .grid .right {
    position: relative; }
  .grid .left {
    padding-right: 50px; }
  .grid .right {
    padding-left: 50px; }

ul.info {
  padding: 0;
  margin: 0;
  margin-top: 100px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center; }
  ul.info li {
    text-align: center; }
    ul.info li h2 {
      font-family: "Knockout", sans-serif;
      text-transform: uppercase;
      font-size: .6em;
      letter-spacing: .2em; }
    ul.info li p {
      font-size: 1.5em;
      color: #965541; }
  @media screen and (max-width: 1124px) {
    ul.info {
      grid-template-columns: 1fr 1fr;
      margin-top: 50px; }
      ul.info li {
        margin-top: 50px; }
        ul.info li:last-child {
          grid-column: 1/3; } }
  @media screen and (max-width: 768px) {
    ul.info {
      grid-template-columns: 1fr; }
      ul.info li:last-child {
        grid-column: 1; } }

.section.photo {
  position: relative; }
  .section.photo .drag-icon {
    background: #965541;
    color: #FFFFFF;
    text-align: center;
    padding: 50px;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 99; }
    .section.photo .drag-icon p {
      margin: 0;
      padding: 0;
      position: relative;
      top: -15px;
      left: -20px; }
      @media screen and (max-width: 768px) {
        .section.photo .drag-icon p {
          font-size: 1.2em; } }

.carousel {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  cursor: grab;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 500px;
  padding: 200px;
  perspective: 1px;
  perspective-origin: center;
  transform-style: preserve-3d;
  scrollbar-width: none; }
  .carousel::-webkit-scrollbar {
    display: none; }
  .carousel.down {
    cursor: grabbing; }
  .carousel li {
    pointer-events: none;
    position: absolute; }
    .carousel li img {
      max-height: 200px;
      width: auto; }
    .carousel li.one {
      transform: translateZ(0.05px);
      bottom: 40px;
      left: 250px; }
      @media screen and (max-width: 768px) {
        .carousel li.one {
          left: 0px; } }
      .carousel li.one img {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
        transform: rotate(-5deg); }
    .carousel li.two {
      transform: translateZ(0.2px);
      z-index: 4;
      top: 100px;
      left: 450px; }
      @media screen and (max-width: 768px) {
        .carousel li.two {
          left: 200px; } }
      .carousel li.two img {
        transform: rotate(-14deg); }
    .carousel li.three {
      transform: translateZ(0.08px);
      z-index: 2;
      bottom: 60px;
      left: 570px; }
      @media screen and (max-width: 768px) {
        .carousel li.three {
          left: 320px; } }
      .carousel li.three img {
        transform: rotate(-3deg); }
    .carousel li.four {
      transform: translateZ(0.1px);
      z-index: 3;
      top: 60px;
      left: 850px; }
      @media screen and (max-width: 768px) {
        .carousel li.four {
          left: 600px; } }
      .carousel li.four img {
        transform: rotate(5deg);
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); }
    .carousel li.five {
      transform: translateZ(0px);
      top: 180px;
      left: 1090px; }
      @media screen and (max-width: 768px) {
        .carousel li.five {
          left: 840px; } }
      .carousel li.five img {
        max-height: unset;
        height: 300px;
        transform: rotate(-5deg); }
    .carousel li.six {
      transform: translateZ(0.1px);
      z-index: 3;
      top: 40px;
      left: 1330px; }
      @media screen and (max-width: 768px) {
        .carousel li.six {
          left: 1080px; } }
      .carousel li.six img {
        max-height: none;
        height: 420px; }
    .carousel li.seven {
      transform: translateZ(0.02px);
      z-index: 2;
      top: 125px;
      left: 1430px; }
      @media screen and (max-width: 768px) {
        .carousel li.seven {
          left: 1180px; } }
      .carousel li.seven img {
        transform: rotate(13deg); }
    .carousel li.eight {
      transform: translateZ(0.15px);
      z-index: 3;
      top: 70px;
      left: 1720px; }
      @media screen and (max-width: 768px) {
        .carousel li.eight {
          left: 1470px; } }
      .carousel li.eight img {
        transform: rotate(-5deg); }
    .carousel li.nine {
      transform: translateZ(0.2px);
      z-index: 4;
      bottom: 70px;
      left: 1800px; }
      @media screen and (max-width: 768px) {
        .carousel li.nine {
          left: 1550px; } }
      .carousel li.nine img {
        transform: rotate(-5.5deg); }
    .carousel li.ten {
      transform: translateZ(0.02px);
      z-index: 5;
      top: 80px;
      left: 2100px; }
      @media screen and (max-width: 768px) {
        .carousel li.ten {
          left: 1850px; } }
      .carousel li.ten img {
        transform: rotate(13deg); }

p.scroll {
  margin-top: 15px;
  font-size: .6em;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-family: "Knockout", sans-serif;
  color: rgba(0, 0, 0, 0.4); }

.map {
  padding: 0;
  position: relative;
  z-index: 1; }
  .map iframe {
    margin: 0;
    padding: 0; }

.rsvp-form {
  color: #FFFFFF;
  margin: auto; }
  .rsvp-form.confirm {
    text-align: center; }
  @media screen and (max-width: 1124px) {
    .rsvp-form {
      padding: 25px 50px 25px 50px; } }
  @media screen and (max-width: 768px) {
    .rsvp-form {
      padding: 15px;
      margin-top: 0;
      max-width: 100%; } }
  .rsvp-form h1 {
    margin: 0;
    padding: 0; }
  .rsvp-form p {
    margin: 0;
    font-size: 1.3em;
    color: #FFFFFF; }
  .rsvp-form form {
    margin-top: 50px;
    font-size: .8em; }
  .rsvp-form .confirmation {
    display: none;
    margin-top: 15px; }
  .rsvp-form .inputs {
    display: grid;
    width: 100%;
    font-family: "Knockout", sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .2em; }
    .rsvp-form .inputs.one {
      grid-template-columns: 1fr 1fr;
      border-bottom: 1px solid #FFFFFF;
      border-top: 1px solid #FFFFFF; }
      .rsvp-form .inputs.one .input-group:last-child {
        border-right: 1px solid #FFFFFF; }
    .rsvp-form .inputs.two {
      grid-template-columns: 1fr 1fr 1fr; }
      .rsvp-form .inputs.two .input-group input[type="text"], .rsvp-form .inputs.two .input-group input[type="email"] {
        border-bottom: 1px solid #FFFFFF; }
    .rsvp-form .inputs .input-group {
      position: relative;
      height: 100%; }
      .rsvp-form .inputs .input-group label {
        position: absolute;
        top: 23px;
        left: 11px;
        pointer-events: none;
        -webkit-transition: .2s ease-in-out;
        font-size: .7em; }
        .rsvp-form .inputs .input-group label.active {
          top: 9px;
          opacity: .8;
          text-transform: uppercase;
          letter-spacing: .1em;
          font-size: .5em; }
      .rsvp-form .inputs .input-group input[type="text"], .rsvp-form .inputs .input-group input[type="email"] {
        background: none;
        outline: none;
        border: none;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 100%;
        font-size: 1em;
        border-left: 1px solid #FFFFFF;
        color: #FFFFFF;
        font-family: inherit;
        width: 100%;
        padding: 25px 10px 15px 10px; }
      .rsvp-form .inputs .input-group select {
        width: 100%;
        height: 100%;
        background: none;
        outline: none;
        border: none;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
        font-size: .7em;
        text-transform: uppercase;
        letter-spacing: .2em;
        border-bottom: 1px solid #FFFFFF;
        border-left: 1px solid #FFFFFF;
        font-family: inherit;
        color: #FFFFFF;
        padding: 25px 10px 15px 10px; }
      .rsvp-form .inputs .input-group.select:after {
        pointer-events: none;
        content: "\f078";
        position: absolute;
        top: 23px;
        right: 15px;
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        font-size: .8em; }
    .rsvp-form .inputs button[type="submit"] {
      background: none;
      outline: none;
      border-radius: 0px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-family: "Knockout", sans-serif;
      cursor: pointer;
      border-top: none;
      margin: 0; }
      .rsvp-form .inputs button[type="submit"] .fal {
        -webkit-transition: margin .2s ease-in-out; }
      .rsvp-form .inputs button[type="submit"]:hover .fal {
        margin-left: 5px; }
    @media screen and (max-width: 1124px) {
      .rsvp-form .inputs.two {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; }
        .rsvp-form .inputs.two button[type="submit"] {
          grid-column: 1/3; }
        .rsvp-form .inputs.two select {
          border-right: 1px solid #FFFFFF; } }
    @media screen and (max-width: 768px) {
      .rsvp-form .inputs {
        grid-template-columns: 1fr; }
        .rsvp-form .inputs.one {
          grid-template-rows: 1fr 1fr; }
          .rsvp-form .inputs.one input[type="text"], .rsvp-form .inputs.one input[type="email"] {
            border-right: 1px solid #FFFFFF; }
          .rsvp-form .inputs.one .input-group:last-child {
            border-top: 1px solid #FFFFFF;
            border-right: none; }
        .rsvp-form .inputs.two {
          grid-template-rows: 1fr 1fr 1fr; }
        .rsvp-form .inputs .input-group {
          grid-column: 1/3; }
          .rsvp-form .inputs .input-group input[type="text"], .rsvp-form .inputs .input-group input[type="email"], .rsvp-form .inputs .input-group select {
            border-right: 1px solid #FFFFFF; } }

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: .5em;
  letter-spacing: .2em;
  text-transform: uppercase;
  margin-top: 100px;
  font-family: "Knockout", sans-serif;
  align-items: center; }
  .footer p {
    font-size: .5em; }
  .footer .left {
    grid-column: 1; }
  .footer .right {
    grid-column: 2/4; }
  .footer ul {
    list-style-type: none;
    text-align: right; }
    .footer ul li {
      display: inline-block;
      margin-left: 50px; }
      .footer ul li a {
        color: inherit;
        text-transform: uppercase;
        letter-spacing: .2em;
        text-decoration: none;
        -webkit-transition: .2s ease-in-out; }
        .footer ul li a:hover {
          opacity: .5; }
  @media screen and (max-width: 1124px) {
    .footer {
      display: block;
      text-align: center; }
      .footer .right {
        margin-top: 15px; }
      .footer ul {
        text-align: center;
        padding: 0; }
        .footer ul li {
          margin-left: 0;
          margin: 0px 10px; } }
  @media screen and (max-width: 768px) {
    .footer {
      text-align: left;
      line-height: 2em; }
      .footer ul {
        text-align: left; }
        .footer ul li {
          display: block;
          margin: 0;
          margin-top: 10px; } }
