@import url("https://fonts.googleapis.com/css?family=Rozha+One|Poppins:400,600&display=swap");
* {
  box-sizing: border-box; }

html, body {
  min-height: 100%;
  min-width: 100%; }

body {
  background: #FFFFFF;
  color: #010A0C;
  font-family: "Apercu", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 2.3em;
  line-height: 1.5em; }

h1, h2, h3 {
  font-family: "Apercu", sans-serif;
  font-weight: 600; }

.wrapper {
  width: calc(100% - 160px);
  margin: auto; }

.btn {
  padding: 12px 50px;
  text-decoration: none;
  border: 1px solid;
  -webkit-transition: .2s ease-in-out; }
  .btn.outline#dark {
    border-color: #6E846D;
    color: #6E846D; }
  .btn.outline#dark:hover {
    background: #6E846D;
    color: #FAF4EE; }
  .btn.outline#light {
    border-color: #FFFFFF;
    color: #FFFFFF; }
  .btn.outline#light:hover {
    background: #FFFFFF;
    color: #010A0C; }

a.link {
  position: relative;
  text-decoration: none;
  color: #010A0C; }
  a.link:before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    top: 0;
    right: -35px;
    border: 1px solid #6E846D; }
  a.link:after {
    content: '\f061';
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    color: #010A0C;
    font-size: .7em;
    position: absolute;
    top: 7px;
    right: -27px;
    -webkit-transition: .2s ease-in-out; }
  a.link:hover {
    text-decoration: underline;
    text-decoration-color: #6E846D;
    text-decoration-style: wavy; }
    a.link:hover:after {
      right: -30px; }
  a.link#light {
    color: inherit; }
    a.link#light:before {
      border-color: #FFFFFF; }
    a.link#light:after {
      color: #FFFFFF; }
    a.link#light:hover {
      border-color: #FFFFFF; }

.section {
  width: 100%;
  max-width: 1600px;
  margin: 250px auto; }
  .section:last-child {
    margin-bottom: 0; }

h1.intro {
  font-size: 5.7vw;
  line-height: 1em;
  width: 100%;
  margin-bottom: 100px; }

.sub {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .sub p {
    margin: 0;
    padding: 0; }
  .sub .left {
    font-size: .5em;
    line-height: 2em;
    opacity: .5; }

.rsvp-form {
  background: #010A0C;
  color: #FFFFFF;
  margin: auto;
  padding: 100px 80px 50px 80px; }
  @media screen and (max-width: 1010px) {
    .rsvp-form {
      padding: 25px 80px 25px 80px; } }
  @media screen and (max-width: 768px) {
    .rsvp-form {
      padding: 30px;
      margin-top: 0;
      max-width: 100%; } }
  .rsvp-form form {
    margin-top: 50px;
    font-size: .5em; }
  .rsvp-form p {
    width: 50%; }
  .rsvp-form .confirmation {
    display: none;
    margin-top: 50px; }
  .rsvp-form .inputs {
    display: grid;
    width: 100%; }
    .rsvp-form .inputs.one {
      grid-template-columns: 1fr 1fr;
      border-bottom: 1px solid #FFFFFF;
      border-top: 1px solid #FFFFFF; }
      .rsvp-form .inputs.one .input-group:last-child {
        border-right: 1px solid #FFFFFF; }
    .rsvp-form .inputs.two {
      grid-template-columns: 1fr 1fr 1fr; }
      .rsvp-form .inputs.two .input-group input[type="text"], .rsvp-form .inputs.two .input-group input[type="email"] {
        border-bottom: 1px solid #FFFFFF; }
    .rsvp-form .inputs .input-group {
      position: relative;
      height: 100%; }
      .rsvp-form .inputs .input-group label {
        position: absolute;
        top: 8px;
        left: 11px;
        pointer-events: none;
        -webkit-transition: .2s ease-in-out; }
        .rsvp-form .inputs .input-group label.active {
          top: -12px;
          opacity: .8;
          text-transform: uppercase;
          letter-spacing: .1em;
          font-size: .5em; }
      .rsvp-form .inputs .input-group input[type="text"], .rsvp-form .inputs .input-group input[type="email"] {
        background: none;
        outline: none;
        border: none;
        height: 100%;
        font-size: 1em;
        border-left: 1px solid #FFFFFF;
        font-family: "Apercu", sans-serif;
        color: #FFFFFF;
        width: 100%;
        padding: 25px 10px 15px 10px; }
      .rsvp-form .inputs .input-group select {
        width: 100%;
        height: 100%;
        background: none;
        outline: none;
        border: none;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
        font-size: 1em;
        border-bottom: 1px solid #FFFFFF;
        border-left: 1px solid #FFFFFF;
        font-family: "Apercu", sans-serif;
        color: #FFFFFF;
        padding: 25px 10px 15px 10px; }
      .rsvp-form .inputs .input-group.select:after {
        pointer-events: none;
        content: "\f078";
        position: absolute;
        top: 6px;
        right: 15px;
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        font-size: .8em; }
    .rsvp-form .inputs button[type="submit"] {
      background: none;
      outline: none;
      border-radius: 0px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: .8em;
      text-transform: uppercase;
      letter-spacing: .1em;
      cursor: pointer;
      border-top: none; }
      .rsvp-form .inputs button[type="submit"] .fal {
        -webkit-transition: margin .2s ease-in-out; }
      .rsvp-form .inputs button[type="submit"]:hover .fal {
        margin-left: 5px; }
    @media screen and (max-width: 1010px) {
      .rsvp-form .inputs.two {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; }
        .rsvp-form .inputs.two button[type="submit"] {
          grid-column: 1/3; }
        .rsvp-form .inputs.two select {
          border-right: 1px solid #FFFFFF; } }
    @media screen and (max-width: 768px) {
      .rsvp-form .inputs {
        grid-template-columns: 1fr; }
        .rsvp-form .inputs.one {
          grid-template-rows: 1fr 1fr; }
          .rsvp-form .inputs.one input[type="text"], .rsvp-form .inputs.one input[type="email"] {
            border-right: 1px solid #FFFFFF; }
          .rsvp-form .inputs.one .input-group:last-child {
            border-top: 1px solid #FFFFFF;
            border-right: none; }
        .rsvp-form .inputs.two {
          grid-template-rows: 1fr 1fr 1fr; }
        .rsvp-form .inputs .input-group {
          grid-column: 1/3; }
          .rsvp-form .inputs .input-group input[type="text"], .rsvp-form .inputs .input-group input[type="email"], .rsvp-form .inputs .input-group select {
            border-right: 1px solid #FFFFFF; } }

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: .3em;
  margin-top: 100px; }
  .footer .left {
    grid-column: 1; }
  .footer .right {
    grid-column: 2/4; }
  .footer ul {
    list-style-type: none;
    text-align: right; }
    .footer ul li {
      display: inline-block;
      margin-left: 50px; }
      .footer ul li a {
        color: inherit;
        text-transform: uppercase;
        letter-spacing: .1em;
        text-decoration: none;
        -webkit-transition: .2s ease-in-out; }
        .footer ul li a:hover {
          opacity: .5; }
  @media screen and (max-width: 1010px) {
    .footer {
      display: block;
      text-align: center; }
      .footer ul {
        text-align: center;
        padding: 0; }
        .footer ul li {
          margin-left: 0;
          margin: 0px 10px; } }
