@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Poppins:400,600&display=swap");
* {
  box-sizing: border-box; }

body {
  background: #FFFFFF;
  color: #2F2A29;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-family: "DM Serif Display", serif; }

p.info {
  font-size: 3em; }

.btn {
  padding: 12px 50px;
  text-decoration: none;
  border: 1px solid;
  -webkit-transition: .2s ease-in-out; }
  .btn.outline#dark {
    border-color: #c14433;
    color: #c14433; }
  .btn.outline#dark:hover {
    background: #c14433;
    color: #FAF4EE; }
  .btn.outline#light {
    border-color: #FFFFFF;
    color: #FFFFFF; }
  .btn.outline#light:hover {
    background: #FFFFFF;
    color: #2F2A29; }

a.link {
  position: relative;
  text-decoration: none;
  color: #2F2A29;
  -webkit-transition: .2s ease-in-out; }
  a.link:before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    top: 0;
    right: -35px;
    border: 1px solid #c14433; }
  a.link:after {
    content: '\f061';
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    color: #2F2A29;
    font-size: .9em;
    position: absolute;
    top: 5px;
    right: -28px;
    -webkit-transition: .2s ease-in-out; }
  a.link:hover {
    border-bottom: 1px solid #c14433; }
    a.link:hover:after {
      right: -30px; }

.container {
  max-width: 1600px;
  margin: auto;
  padding: 0px 80px; }

.hero {
  background: #FAF4EE;
  width: 100%;
  height: 100vh; }
  .hero .hero-text {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    text-align: center; }
    .hero .hero-text h1 {
      margin: 0;
      padding: 0;
      width: 100%;
      position: absolute;
      top: -115px;
      left: 0;
      font-size: 12em;
      color: #fff;
      pointer-events: none;
      z-index: 1; }
    .hero .hero-text p {
      position: relative;
      z-index: 2;
      font-size: 2em;
      max-width: 60%;
      margin: 32px auto; }

.rsvp-form {
  background: #c14433;
  color: #FFFFFF;
  padding: 100px 100px;
  margin-top: -200px; }
  .rsvp-form .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 50px; }
    .rsvp-form .inputs .input-group {
      position: relative; }
      .rsvp-form .inputs .input-group label {
        position: absolute;
        top: 20px;
        left: 10px;
        pointer-events: none;
        -webkit-transition: .2s ease-in-out; }
        .rsvp-form .inputs .input-group label.active {
          top: 4px;
          left: -5px;
          opacity: .8;
          text-transform: uppercase;
          letter-spacing: .1em;
          -webkit-transform: scale(0.7); }
      .rsvp-form .inputs .input-group input[type="text"] {
        background: none;
        outline: none;
        border: none;
        height: 100%;
        font-size: 1em;
        border-bottom: 1px solid #FFFFFF;
        border-left: 1px solid #FFFFFF;
        border-top: 1px solid #FFFFFF;
        font-family: "Poppins", sans-serif;
        color: #FFFFFF;
        width: 100%;
        padding: 25px 10px 15px 10px; }
      .rsvp-form .inputs .input-group select {
        width: 100%;
        height: 100%;
        background: none;
        outline: none;
        border: none;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
        font-size: 1em;
        border-bottom: 1px solid #FFFFFF;
        border-left: 1px solid #FFFFFF;
        border-top: 1px solid #FFFFFF;
        font-family: "Poppins", sans-serif;
        color: #FFFFFF;
        padding: 25px 10px 15px 10px; }
      .rsvp-form .inputs .input-group.select label.active {
        left: -12px; }
      .rsvp-form .inputs .input-group.select:after {
        pointer-events: none;
        content: "\f078";
        position: absolute;
        top: 30px;
        right: 15px;
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        font-size: .8em; }
    .rsvp-form .inputs button[type="submit"] {
      background: none;
      outline: none;
      border-radius: 0px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: .8em;
      text-transform: uppercase;
      letter-spacing: .1em;
      cursor: pointer; }
