.footer
	.left
		p &copy; 2019 Rachel Lin & Alex Johnstone
	.right
		ul
			li
				a(href="https://www.fairmont.com/laurier-ottawa/promotions/alternate-parking/", target="_blank") Parking
			li
				a(href="") Save the date
			li
				a(href="https://madebyconnell.com/", target="_blank") Made by Connell