.footer.wow.fadeIn(data-wow-delay=".6s")
	.left
		p &copy; 2020 Rachel Lin & Alex Johnstone
	.right
		ul
			li
				a(href="https://www.fairmont.com/laurier-ottawa/", target="_blank") Venue
			li
				a(href="#", id="std") Save the date
			li
				a(href="https://boandco.studio/", target="_blank") Built by Bo & Co