.hero
	.hero-text.wow.fadeIn
		h1 Rachel & Alex
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.link(href="#") View the gift registry