a(id="top")
.section.hero.offwhite
	.wrapper
		.text
			h1.intro.wow.fadeIn Rachel Lin &
				br
				| Alex Johnstone
			p.wow.fadeIn(data-wow-delay=".5s") We're getting married, y'all.
		.scroll-box.wow.fadeIn(data-wow-delay="1s")
			a(href="#info")
				p Keep scrolling
		.right
			.invited
				img(src="/img/circle-invited.svg")
			img(src="/img/hero-img.png")