.section.hero.peach
	.text
		h1.intro.wow.fadeInUp(data-scroll, data-scroll-speed="3") Rachwel Lin & Big Al Johnstone
		p.wow.fadeIn(data-scroll, data-scroll-speed="2.5", data-wow-delay=".6s") Saturday, September 5th, 2020
	.scroll-box.wow.fadeIn(data-scroll, data-scroll-speed="1", data-wow-delay="1s")
		p Continue scrolling