a(id="top")
.section.hero
	.bg.offwhite
	.wrapper
		.text
			h1.intro.wow.fadeInUp Rachel Lin & Alex Johnstone
			p.wow.fadeIn(data-wow-delay=".5s") We're getting married, y'all.
		.scroll-box.wow.fadeIn(data-wow-delay="1s")
			a(href="#registry")
				p Keep scrolling
		.right
			.invited
				img.wow.fadeIn(src="/img/circle-invited.svg", data-wow-delay=".2s")
			img(src="/img/hero-img.png")