.hero
	.hero-text
		h1.wow.fadeInUp Rachel & Alex
		p.wow.fadeIn Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
.hero-space