a(id="top")
.section.hero.peach
	.text
		h1.intro.wow.fadeInUp Rachwel Lin & Big Al Johnstone
		p.wow.fadeIn.expanded(data-wow-delay=".5s") Saturday, September 5th, 2020
	.scroll-box.wow.fadeIn(data-wow-delay="1s")
		a(href="#registry")
			p.expanded Continue scrolling