a(id="top")
.section.hero.peach
	.text
		h1.intro.wow.fadeInUp #{settings.names}
		p.wow.fadeIn.expanded(data-wow-delay=".5s") #{settings.date}
	.scroll-box.wow.fadeIn(data-wow-delay="1s")
		a(href="#registry")
			p.expanded Continue scrolling