.section.hero.peach
	.text
		h1.intro.wow.fadeInUp(data-scroll, data-scroll-speed="3") Rachel Lin & Alex Johnstone
		p.wow.fadeIn(data-scroll, data-scroll-speed="2", data-wow-delay=".6s") Saturday, September 5th, 2020
	.scroll-box
		p Continue scrolling