.section
	.wrapper
		h1.intro.wow.fadeIn(data-scroll, data-scroll-speed="3") Rachel Lin & Alex Johnstone
		.sub
			.left
				p.wow.fadeIn(data-scroll, data-scroll-speed="2", data-wow-delay=".2s") Saturday, September 5th, 2020
					br
					| 5:00PM — LATE
			.right
				p.wow.fadeIn(data-scroll, data-scroll-speed="1", data-wow-delay=".4s") Join the celebration as Rachel and Alex say "I do" surrounded by friends and family in Downtown Ottawa.