a(id="hotel")
.section
	.wrapper.center
		h1.alt.orange.wow.fadeIn We've reserved a block of rooms at the Ch&acirc;teau Laurier. Just mention the Lin Johnstone wedding when you reserve. Please book your room by August 5th.
		a.link(href="https://book.passkey.com/go/LINJ0522", target="_blank").wow.fadeInUp Book a room