.section.mt-2
	.wrapper
		h1.alt.center.orange.wow.fadeInUp Your fave people are getting hitched. Come join the celebration at the historic Ch&acirc;teau Laurier in Ottawa, Ontario.

		ul.info
			li.wow.fadeIn(data-wow-delay=".2s")
				h2 Where
				p Fairmont Ch&acirc;teau Laurier
					br
					| Quebec Suite
				a.link(href="https://goo.gl/maps/ZaGbTiDK5B8znry68", target="_blank") Get directions
			li.wow.fadeIn(data-wow-delay=".4s")
				h2 When
				p Saturday, September 5th
					br
					| 5:00 PM
				a.link(href="#", id="std") Save the date
			li.wow.fadeIn(data-wow-delay=".6s")
				h2 Registry
				p We've put together a list
					br
					| of things for y'all
				a.link(href="https://www.myregistry.com/wedding-registry/rachel-lin-and-alex-johnstone-ottawa-on/2212947", target="_blank") View the registry