.nav
	.wrapper
		p.date Saturday, September 4<sup>th</sup>, 2021
		.logo
			img(src="/img/logo.svg", height="80px")
		ul.nav_links
			li 
				a(href="#info") Information
			li 
				a(href="#hotel") Hotel rooms
			li 
				a(href="#rsvp") RSVP