.nav
	.wrapper
		p.date Saturday, September 5th, 2020
			br
			| 5:00PM — LATE
		.logo
			a(href="#top")
				img(src="/img/logo.svg", height="80px")
		ul.nav_links
			li 
				a(href="#registry") Registry
			li 
				a(href="#venue") Venue
			li 
				a(href="#rsvp") RSVP