.nav
	.wrapper
		p.date Saturday, September 5th, 2020
			br
			| 5:00PM — LATE
		.logo
			img(src="/img/logo.svg", height="80px")
		ul.nav_links
			li 
				a(href="#") Registry
			li 
				a(href="#") Venue
			li 
				a(href="#") RSVP