.section.photo
	.drag-icon 
		p Drag
	ul.carousel
		li.one.wow.fadeIn
			img(src="img/carousel/1.png")
		li.two.wow.fadeIn(data-wow-delay=".2s")
			img(src="img/carousel/2.png")
		li.three.wow.fadeIn(data-wow-delay=".4s")
			img(src="img/carousel/3.png")
		li.four.wow.fadeIn(data-wow-delay=".6s")
			img(src="img/carousel/4.png")
		li.five.wow.fadeIn(data-wow-delay=".8s")
			img(src="img/carousel/5.png")
		li.six.wow.fadeIn(data-wow-delay="1s")
			img(src="img/carousel/6.png")
		li.seven.wow.fadeIn(data-wow-delay="1.2s")
			img(src="img/carousel/7.png")
		li.eight.wow.fadeIn(data-wow-delay="1.4s")
			img(src="img/carousel/8.png")
		li.nine.wow.fadeIn(data-wow-delay="1.4s")
			img(src="img/carousel/9.png")
		li.ten.wow.fadeIn(data-wow-delay="1.4s")
			img(src="img/carousel/10.png")
	p.center.scroll Grab and scroll Left &#8212; Right