.modal
	.popup.center
		.close
		h1.orange Save the date
		p Select your calendar program from the list below to save the date.
		ul.cals
			li
				a.link(href="std/Rachel & Alex Wedding.ics", target="_blank")
					img.logo(src="https://upload.wikimedia.org/wikipedia/commons/7/74/Apple_logo_dark_grey.svg")
					p.name Apple
			li
				a.link(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MGxuNG9yc3ZvdjA0YjFncW9yajdqaTUxZXYgNmZudmY4YXIwNW5waWc3dW5ydTBlNDM3M2tAZw&tmsrc=6fnvf8ar05npig7unru0e4373k%40group.calendar.google.com", target="_blank")
					img.logo(src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg")
					p.name Google
			li
				a.link(href="std/Rachel & Alex Wedding.ics", target="_blank")
					img.logo(src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Microsoft_Office_Outlook_%282013%E2%80%932018%29.svg")
					p.name Outlook