.section.pt
	.wrapper
		.grid
			.left
				img.wow.fadeIn(src="http://via.placeholder.com/680x820")
			.right.wow.fadeInUp(data-wow-delay=".5s")
				p.major Wondering what to get us? We’re not too picky, but check out the registry to see what other people are bringing and some more ideas.
				a.link(href="#", target="_blank") View registry