.section.blue
	.wrapper
		.grid
			.left
				.invited
					img(src="/img/circle-invited.svg")
				img(src="http://via.placeholder.com/680x820")
			.right
				p Wondering what to get us? We’re not too picky, but check out the registry to see what other people are bringing and some more ideas.
				a.link(href="#", target="_blank") View registry