.section.blue.pt
	.wrapper
		.grid
			.left
				.invited
					img(src="/img/circle-invited.svg", data-scroll, data-scroll-speed="2")
				img(src="http://via.placeholder.com/680x820", data-scroll, data-scroll-speed="1")
			.right
				p.major Wondering what to get us? We’re not too picky, but check out the registry to see what other people are bringing and some more ideas.
				a.link(href="#", target="_blank") View registry