a(id="venue")
.section.offwhite.pb
	.wrapper
		.grid
			.left
				p.major.wow.fadeIn Located at the beautiful Quebec Suite in the Fairmont Chateau Laurier on Saturday, September 5th, 2020. We’ll be getting silly from 5:00PM to late.
				a.link.wow.fadeIn(data-wow-delay=".2s", href="#", target="_blank") Save the date to your Calendar

				p.major.mt-1.wow.fadeIn(data-wow-delay=".5s") Chateau Laurier
					br
					| 1 Rideau St, Ottawa, ON
				a.link.wow.fadeIn(data-wow-delay=".7s", href="#", target="_blank") Directions & Parking Info
			.right
				img.wow.fadeIn(src="http://via.placeholder.com/680x880")